.card
  .card-header.justify-content-between
    %h3.card-title
      Servers
    = link_to new_server_path, class: 'btn btn-link' do
      Add New Server
  .card-body
    = render partial: 'servers/table', locals: { servers: @servers }
