<div class="card">
  <div class="card-header justify-content-between">
    <h3 class="card-title">
      New user
    </h3>
    <span>
      <%= link_to users_path, class: 'btn btn-link' do %>
      All Users
      <% end %>
    </span>
  </div>
  <div class="card-body">
    <%= render 'form' , user: @user %>
  </div>
</div>