- content_for :title do "Internal Server Error" end
.row
  .col-xs-10.col-sm-6.offset-xs-1.offset-sm-3
    .card.mt-5
      .card-body
        %i.fa.fas.fa-3x.fa-warning.float-right
        %h4.card-title Internal Server Error
        %h6.card-subtitle.mt-2.mb-3.text-muted Hmm, something doesn't seem right with that request.
        %p.card-text Were you trying to do something bad?
