- content_for :title do "Not Acceptable" end
.row
  .col-xs-10.col-sm-6.offset-xs-1.offset-sm-3
    .card.mt-5
      .card-body
        %i.fa.fas.fa-3x.fa-ban.float-right
        %h4.card-title Not Acceptable
        %h6.card-subtitle.mt-2.mb-3.text-muted There was a problem with your data.
        %p.card-text Please double check the data you enter and try again.
