- content_for :title do "Not Authorized" end
.row
  .col-xs-10.col-sm-6.offset-xs-1.offset-sm-3
    .card.mt-5
      .card-body
        %i.fa.fas.fa-3x.fa-ban.float-right
        %h4.card-title Not Authorized
        %h6.card-subtitle.mt-2.mb-3.text-muted Unfortunately you don't have the required permission.
        %p.card-text Maybe you tried to change something you didn't have access to?
