- content_for :title do "Resource Not Found" end
.row
  .col-xs-10.col-sm-6.offset-xs-1.offset-sm-3
    .card.mt-5
      .card-body
        %i.fa.fas.fa-3x.fa-block.float-right
        %h4.card-title Resource Not Found
        %h6.card-subtitle.mt-2.mb-3.text-muted Unfortunately the resource was not found.
        %p.card-text You may have mistyped the address or the page may have moved.
