- content_for :title do "Service Unavailable" end
.row
  .col-xs-10.col-sm-6.offset-xs-1.offset-sm-3
    .card.mt-5
      .card-body
        %i.fa.fas.fa-3x.fa-close.float-right
        %h4.card-title Service Unavailable
        %h6.card-subtitle.mt-2.mb-3.text-muted The service is unavailable at the moment.
        %p.card-text Please wait and try again in a few minutes.
