- content_for :title do "Unknown Error" end
.row
  .col-xs-10.col-sm-6.offset-xs-1.offset-sm-3
    .card.mt-5
      .card-body
        %i.fa.fas.fa-3x.fa-bug.float-right
        %h4.card-title Unknown Error
        %h6.card-subtitle.mt-2.mb-3.text-muted We're sorry, but something went wrong.
        %p.card-text We'll investigate and fix the problem as soon as possible.
