- content_for :title do "Unsupported Version" end
.row
  .col-xs-10.col-sm-6.offset-xs-1.offset-sm-3
    .card.mt-5
      .card-body
        %i.fa.fas.fa-3x.fa-block.float-right
        %h4.card-title Unsupported Version
        %h6.card-subtitle.mt-2.mb-3.text-muted Doesn't look like that version exists.
        %p.card-text Maybe double check the URL and try again?
